@charset "utf-8";

body,p,b,dl,dd,table,td,th,input,button,textarea,xmp,pre,img,form,div,ul,ol,li,h1,h2,h3,h4,h5,h6,header,section,nav,footer{
	margin:0;padding:0;
}
img,iframe,acronym{
	border:0;
}
ol,ul,li{
	list-style:none;
}
img,input,label,button{
	-vertical-align:middle;
}
a {
	star:expression(this.onFocus=this.blur()); 
	text-decoration:none; 
} 
html, body { 
	background:#12217e;
}
.loading{
	width:100%;
	height:100%;
	background:#fff;
	position:absolute;
	top:0;
	left:0;
	z-index:100;
}
.page_container{ 
	width:640px;
	 height:100%; 
	 overflow:hidden;
	 position:absolute; 
	 left:50%;
	 top:0;
	 margin-left:-320px; 
	 z-index:10;
}
.page_wrap{
	
}
.page { 
	width:100%; 
	height:100%;
	background:#fff;
	 position:absolute;
	 left:0; 
	 top:-95px;
	 background-size:100% 100%; 
	 perspective:1000px; 
	 -webkit-perspective:1000px;
	 transform-style:preserve-3d; 
	 -webkit-transform-style:preserve-3d; 
}
.page1_bg{
	width:100%;
	height:100%;
	background:url(http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource%2Fcancerman%2Fbg.gif) no-repeat;
	position:absolute;
	left:0;
	top:0%;
	background-size:100% 100%;
}
/*封面*/
.page0_bg{
	width:100%;
	height:100%;
}
.page0_btn{
	width:279px;
	position:absolute;
	top:76%;
	left:28%;
}
/*第一张*//*第四张*/
.style1_img{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
}
.style1_btn1{
	position:absolute;
	top:30%;
	left:69%;
}
.style1_btn2{
	position:absolute;
	top:41.5%;
	left:69%;
}
.style1_btn3{
	position:absolute;
	top:53%;
	left:69%;
}
.style1_btn4{
	position:absolute;
	top:64.5%;
	left:69%;
}
.page1 .next{
	width:279px;
	position:absolute;
	top:76%;
	left:28%;
}

/*第二张*/
.style2_img{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
}
.style2_btn1{
	position:absolute;
	top:30%;
	left:15%;
}
.style2_btn2{
	position:absolute;
	top:30%;
	left:35.4%;
}
.style2_btn3{
	position:absolute;
	top:42%;
	left:15%;
}
.style2_btn4{
	position:absolute;
	top:42%;
	left:35.4%;
}
.page2 .next2{
	width:279px;
	position:absolute;
	top:76%;
	left:28%;
}
/*第三张*/
.style3_img{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
}
.style3_btn1{
	position:absolute;
	top:52%;
	left:13.5%;
}
.style3_btn2{
	position:absolute;
	top:52%;
	left:51%;
}
.style3_btn3{
	position:absolute;
	top:64%;
	left:13.5%;
}
.style3_btn4{
	position:absolute;
	top:64%;
	left:51%;
}
.page3 .next3{
	width:279px;
	position:absolute;
	top:76%;
	left:28%;
}
/*第四张*/
.page4 .next4{
	width:279px;
	position:absolute;
	top:76%;
	left:28%;
}
/*第五张*/
.page5 .next5{
	width:279px;
	position:absolute;
	top:76%;
	left:28%;
}
/*第六张*/
.style5_img{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
}
.style5_btn1{
	position:absolute;
	top:52%;
	left:48%;
}
.style5_btn2{
	position:absolute;
	top:52%;
	left:68%;
}
.style5_btn3{
	position:absolute;
	top:64%;
	left:48%;
}
.style5_btn4{
	position:absolute;
	top:64%;
	left:68%;
}
.page6 .next6{
	width:279px;
	position:absolute;
	top:76%;
	left:28%;
}
/*第七张*/
.page7 .next7{
	width:279px;
	position:absolute;
	top:76%;
	left:28%;
}
/*第八张*/
.page8 .next8{
	width:279px;
	position:absolute;
	top:76%;
	left:28%;
}
/*第九张第五张共用*/
.style4_img{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
}
.style4_btn1{
	position:absolute;
	top:52%;
	left:15%;
}
.style4_btn2{
	position:absolute;
	top:52%;
	left:36%;
}
.style4_btn3{
	position:absolute;
	top:64%;
	left:15%;
}
.style4_btn4{
	position:absolute;
	top:64%;
	left:36%;
}
.page9 .next9{
	width:279px;
	position:absolute;
	top:76%;
	left:28%;
}

/*第十张*/
.page10 .next10{
	width:279px;
	position:absolute;
	top:76%;
	left:28%;
}
/*判定结果*/
.page11_img{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
}
.page11_btn1{
	width:279px;
	position:absolute;
	top:76%;
	left:28%;
}
/*解决方案*/
.page12_img1{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	
}
.page12_img2{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}
.page12_img3{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}
.page12_btn1{
	position:absolute;
	top:70%;
	left:20%;
}
.page12_btn2{
	position:absolute;
	top:70%;
	left:50%;
}
/*分享页*/
.page13{
	background:#000;
	opacity: 0.8;
	
}
.page13_bg{
	width:100%;
	height:100%;
}
/*音乐按钮*/
.music_btn{
	width:25px;
	height:40px;
	position: absolute;
	top:3%;
	left:87%;
	z-index:50;
}




